@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../cards/cards.css);

.techniques {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.section-title {

}
